#AnchorPane{
    -fx-background-image: url("background.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 900 506;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

TextField {
	
	-fx-alignment: center;
}

TextField#MultiChance{
	-fx-background-color: red;
	-fx-text-fill: white ;
}

TextField#ZeroChance{
	-fx-background-color: blue;
	-fx-text-fill: white ;
}
TextField#Propos{
	-fx-background-color: green;
	-fx-text-fill: white ;
}